---
import { formatBlogPosts } from "@assets/js/utils";
import Marketing from "@components/Marketing.astro";
import Email from "@components/Email.astro";
import Layout from "@layout/Layout.astro";
import Posts from "@components/Posts.astro";
import AllTags from "@components/AllTags.astro";
const allPosts = await Astro.glob("./*.mdx");
const formattedPosts = formatBlogPosts(allPosts);
---

<Layout title="Blog 游닇 Gilberto La Rosa 游 Web Developer 游깵">
  <section class="w-[90%] mx-auto my-8">
    <h1 class="text-6xl md:text-9xl font-bold capitalize">
      Un blog <br /> con gilberto
    </h1>
    <p class="text-lg md:text-xl font-light">
      Haz llegado al fascinante mundo del desarrollo web y la programaci칩n con
      mi simple y cautivador blog. Como desarrollador web experimentado, te
      llevare a un viaje por las intrincadas p치ginas de la programaci칩n y el
      dise침o web.
    </p>
    <!-- bloque principal de la pagina del blog  -->
    <section class="grid grid-cols-4 gap-4 my-8">
      <!-- categorias y filtros -->
      <section class="col-span-4 md:col-span-1">
        <section class="bg-[#6ab0e4] rounded-xl p-4 md:sticky md:top-4">
          <h2 class="text-4xl font-bold mb-2">Categorias</h2>
          <AllTags showCount="true" />
        </section>
      </section>
      <!-- card blog posts -->
      <section class="col-span-4 md:col-span-2">
        <ul class="flex flex-col gap-4">
          {
            formattedPosts.map((post) => (
              <Posts frontmatter={post.frontmatter} url={post.url} />
            ))
          }
        </ul>
      </section>
      <!-- publicidad y otros  -->
      <section class="col-span-4 md:col-span-1">
        <section class="bg-[#6ab0e4] rounded-xl p-4 md:sticky md:top-4">
          <h2 class="text-4xl font-bold mb-2">
            Clases de Dise침o y Desarrollo Web Profesional
          </h2>
          <Marketing />
          <hr class="py-2 border-current" />
          <Email />
          <p class="text-xs mt-4">
            Nota: Los cupos son limitados, debido a que las clases son en l칤nea
            y completamente personalizadas.
          </p>
        </section>
      </section>
    </section>
  </section>
</Layout>
