---
import { formatBlogPosts } from "../../assets/js/utils";

import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/Posts.astro";
const allPosts = await Astro.glob("./*.md");
const formattedPosts = formatBlogPosts(allPosts);
---

<Layout title="Blog 📝 Gilberto La Rosa 🚀 Web Developer 🌎">
  <section class="w-[90%] mx-auto my-8">
    <h1 class="text-6xl md:text-9xl font-bold capitalize">
      Un blog <br /> con gilberto
    </h1>
    <p class="text-lg md:text-xl font-light">
      Haz llegado al fascinante mundo del desarrollo web y la programacion con
      mi simple y cautivador blog. Como desarrollador web experimentado, te
      llevare a un viaje por las intrincadas páginas de la programación y el
      diseño web.
    </p>
    <!-- bloque principal de la pagina del blog  -->
    <section class="grid grid-cols-4 gap-4 my-8">
      <!-- categorias y filtros -->
      <section class="col-span-4 md:col-span-1">
        <section class="bg-[#d8c4b6] rounded-xl p-4">
          <h2>categorias</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            voluptates magnam nulla voluptate, aperiam non quas odit, dolorum
            similique illo vitae nobis voluptatem. Nisi, a. Commodi harum
            repudiandae nesciunt! Pariatur.
          </p>
        </section>
      </section>
      <!-- card blog posts -->
      <section class="col-span-4 md:col-span-2">
        <ul class="flex flex-col gap-4">
          {
            formattedPosts.map((post) => (
              <Posts frontmatter={post.frontmatter} url={post.url} />
            ))
          }
          <!-- <Posts frontmatter={allPosts[0].frontmatter} url={allPosts[0].url} /> -->
        </ul>
      </section>
      <!-- publicidad y otros  -->
      <section class="col-span-4 md:col-span-1">
        <section class="bg-[#6ab0e4] rounded-xl p-4">
          <h2>aqui va la publicidad de codafter</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
            voluptatibus molestias in eius modi laboriosam blanditiis excepturi
            velit odit dolores sed provident quam, possimus, temporibus
            obcaecati quod autem praesentium perferendis.
          </p>
        </section>
      </section>
    </section>
  </section>
</Layout>
