body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
  width: 15px;
  background-color: var(--gray-dark-color);
}
body::-webkit-scrollbar:horizontal {
  height: 15px;
  background-color: var(--gray-dark-color);
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-button:increment {
  display: none;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--bg-global);
  border-radius: 5px;
  border: solid 3px var(--gray-dark-color);
}
body::-webkit-scrollbar-track {
  border-radius: 5px;
}
