/*
Creado  por:
╭━━━┳━━┳╮╱╱╭━━╮╭━━━┳━━━┳━━━━┳━╮╭━╮╭━━━┳━━━┳╮╱╱╭╮
┃╭━╮┣┫┣┫┃╱╱┃╭╮┃┃╭━━┫╭━╮┃╭╮╭╮┣╮╰╯╭╯╰╮╭╮┃╭━━┫╰╮╭╯┃
┃┃╱╰╯┃┃┃┃╱╱┃╰╯╰┫╰━━┫╰━╯┣╯┃┃╰╯╰╮╭╯╱╱┃┃┃┃╰━━╋╮┃┃╭╯
┃┃╭━╮┃┃┃┃╱╭┫╭━╮┃╭━━┫╭╮╭╯╱┃┃╱╱╭╯╰╮╱╱┃┃┃┃╭━━╯┃╰╯┃
┃╰┻━┣┫┣┫╰━╯┃╰━╯┃╰━━┫┃┃╰╮╱┃┃╱╭╯╭╮╰┳┳╯╰╯┃╰━━╮╰╮╭╯
╰━━━┻━━┻━━━┻━━━┻━━━┻╯╰━╯╱╰╯╱╰━╯╰━┻┻━━━┻━━━╯╱╰╯

Fundador de:
░█████╗░░█████╗░██████╗░░█████╗░███████╗████████╗███████╗██████╗░
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝╚══██╔══╝██╔════╝██╔══██╗
██║░░╚═╝██║░░██║██║░░██║███████║█████╗░░░░░██║░░░█████╗░░██████╔╝
██║░░██╗██║░░██║██║░░██║██╔══██║██╔══╝░░░░░██║░░░██╔══╝░░██╔══██╗
╚█████╔╝╚█████╔╝██████╔╝██║░░██║██║░░░░░░░░██║░░░███████╗██║░░██║
░╚════╝░░╚════╝░╚═════╝░╚═╝░░╚═╝╚═╝░░░░░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝
*/

@import "./_scrollbar.css";
:root {
  /* fonts */
  --Font-global: "Fira Mono", monospace;
  --font-nav: "Ubuntu Condensed", sans-serif;
  --font-title: "Press Start 2P", system-ui;
  /* colors*/
  --bg-global: #f5efe7;
  --text-color-global: #213555;
  --navy-color: #4f709c;
  --beige-color: #d8c4b6;
  --gray-dark-color: #212121;
  --blue-color: #6ab0e4;
  --hover-orange: #f79533;

  /* degradados */
  --degra-text-rainbow: linear-gradient(
    90deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--Font-global);
  background: var(--bg-global);
  font-size: 1.3em;
  color: var(--gray-dark-color);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
/* global class */
.fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fira-mono-medium {
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.fira-mono-bold {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.text-deg {
  background: var(--degra-text-rainbow);
  background-clip: text;
  color: transparent;
}

.animate-text-deg {
  background: var(--degra-text-rainbow);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fluido 6s ease-in-out infinite;
}
@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
h1 {
  background: var(--degra-text-rainbow);
  background-clip: text;
  color: transparent;
  margin: 3rem 0;
}
