---
import Layout from "../layouts/Layout.astro";
// const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Blog 📝 Gilberto La Rosa 🚀 Web Developer 🌎">
  <section class="w-[90%] mx-auto my-8">
    <section>
      <h1 class="text-6xl md:text-9xl font-bold capitalize">
        Un blog <br /> con gilberto
      </h1>
      <ul>
        <li>
          <a
            href="./posts/guia-para-ser-un-desarrollador-web"
            title="Guía paso a paso para ser un desarrollador web"
          >
            Guía paso a paso para ser un desarrollador web</a
          >
        </li>
        <!-- {
          allPosts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        } -->
      </ul>
    </section>
  </section>
</Layout>
