---
import Layout from "../layouts/Layout.astro";
import CardFreelance from "../components/CardFreelance.astro";
---

<Layout title="Proyectos 💻 Gilberto La Rosa 🚀 Web Developer 🌎">
  <section class="w-[90%] mx-auto my-8">
    <section>
      <h1 class="text-6xl md:text-9xl font-bold capitalize">
        proyectos <br /> freelance
      </h1>
    </section>
    <section>
      <ul class="flex flex-wrap justify-between gap-4">
        <CardFreelance
          name="codafter, spa"
          src="/LOGO_CODAFTER.jpg"
          alt="codafter"
        />
      </ul>
    </section>
  </section>
</Layout>
