---
const Repos = [
  {
    urlRepo: "https://github.com/Dev-Gilberto/botones-basicos-tailwind",
    nameRepo: "botones basicos en html usando tailwind",
  },
];

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Pryectos Open Source  Gilberto La Rosa  Web Developer ">
  <section class="w-[90%] mx-auto my-8">
    <section>
      <h1 class="text-6xl md:text-9xl font-bold capitalize">
        proyectos <br /> open source
      </h1>
      <p class="mb-4 font-light text-lg">
        Los proyectos web de c贸digo abierto, o proyectos web de c贸digo abierto,
        se han hecho cada vez m谩s populares entre la comunidad en l铆nea. La
        belleza de estos proyectos radica en la naturaleza colaborativa de la
        comunidad, en la que individuos con diferentes habilidades se re煤nen
        para aportar su experiencia en codificaci贸n y dise帽o.
      </p>
    </section>
    <section class="my-8">
      <ul class="grid md:grid-cols-2 xl:grid-cols-3 gap-4">
        {Repos.map((repo) => <Card href={repo.urlRepo} name={repo.nameRepo} />)}
      </ul>
    </section>
    <section>
      <p class="text-center font-light mb-4">
        Si茅ntete con toda la libertad de usar mis repositorios como desees, soy
        un entusiasta de la comunidad y la programaci贸n, me encanta apoyar a
        otros que est谩n iniciando en este mundo tan maravilloso, y si esta a tu
        disposici贸n, me puedes apoyar con un caf茅, que te lo agradeceria de todo
        coraz贸n .
      </p>
      <a
        href="https://www.buymeacoffee.com/devgilberto"
        target="_blank"
        title="Regalame un cafe"
        class="flex justify-center"
        ><img
          src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=devgilberto&button_colour=FFDD00&font_colour=000000&font_family=Comic&outline_colour=000000&coffee_colour=ffffff"
          alt="Regalame un cafe"
        /></a
      >
    </section>
  </section>
</Layout>
