---
import Layout from "../layouts/Layout.astro";
import Hbt from "../components/Hbt.astro";
import Ucab from "../components/Ucab.astro";
import Flasalle from "../components/Flasalle.astro";
---

<Layout title="Trabajos 💻 Gilberto La Rosa 🚀 Web Developer 🌎">
  <section class="w-[90%] mx-auto my-8">
    <section>
      <h1 class="text-6xl md:text-9xl font-bold capitalize">
        Trabajos
        <br />
        dependientes
      </h1>
      <p class="mb-4 font-light text-lg">
        El ingeniero Gilberto La Rosa ha realizado importantes contribuciones en
        el campo del soporte técnico de sistemas y el desarrollo web. Su
        experiencia radica en el diseño y mantenimiento de servidores,
        garantizando un funcionamiento sin problemas y un rendimiento óptimo.
      </p>
    </section>
    <!-- empleos -->
    <section class="md:grid
        md:grid-cols-2
        mt-8">
      <Hbt />
      <Ucab />
      <Flasalle />
    </section>
  </section>
</Layout>

<style>
  .parrafos-work {
    width: 80%;
  }
</style>
