<section class="flex flex-col items-center mb-4">
  <img src="../../AVATAR-GILBERTO.jpg" alt="Gilberto La Rosa" />
  <p class="text-center font-light">
    <span class="font-bold text-lg md:text-xl">Gilberto La Rosa</span>
    <br />
    Ingeniero de Sistemas
    <br />
    <span class="capitalize">web developer</span>
  </p>
</section>
<style>
  img {
    max-width: 100%;
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    clip-path: polygon(
      31.9% 0%,
      66.8% 0%,
      66.8% 32.3%,
      100% 32.3%,
      100% 66.8%,
      66.8% 66.8%,
      66.8% 100%,
      31.9% 100%,
      31.9% 66.8%,
      0% 66.8%,
      0% 32.3%,
      31.9% 32.3%
    );
  }
</style>
