<section class="flex flex-col items-center mb-4">
  <img src="../../AVATAR-GILBERTO.jpg" alt="Gilberto La Rosa" />
  <p class="text-center font-light">
    <span class="font-bold text-lg md:text-xl">Gilberto La Rosa</span>
    <br />
    Ingeniero de sistemas
    <br />
    web developer
  </p>
</section>
<style>
  img {
    width: 100%;
    height: auto;
    max-width: 200px;
    /* aspect-ratio: 125/83; */
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 25% 100%);
  }
</style>
