<section class="flex flex-col items-center mb-4">
  <img
    src="../../AVATAR-GILBERTO.jpg"
    class="w-40 h-40 rounded"
    alt="Gilberto La Rosa"
  />
  <p class="text-center font-light">
    <span class="font-bold text-lg md:text-xl">Gilberto La Rosa</span>
    <br />
    Ingeniero de Sistemas
    <br />
    <span class="capitalize">web developer</span>
  </p>
</section>
