---

---

<button
  id="btnSubir"
  class="flex-none fixed bottom-5 right-5 z-50 tracking-wider cursor-pointer px-4 py-2 rounded uppercase bg-white font-bold border-b-4 border-[#f79533] active:border-transparent duration-150 font-[Antonio] hover:border-transparent"
  >Subir <span>&#11014;</span></button
>

<script type="text/javascript" is:inline data-astro-rerun>
  document.addEventListener(
    "astro:page-load",
    () => {
      // Esto solo se ejecuta una vez.
      setupStuff();
    },
    { once: true }
  );

  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      document.getElementById("btnSubir").style.display = "block";
    } else {
      document.getElementById("btnSubir").style.display = "none";
    }
  }

  document.getElementById("btnSubir").addEventListener("click", function () {
    document.body.scrollTop = 0; // Para Safari
    document.documentElement.scrollTop = 0; // Para Chrome, Firefox, IE y Opera
  });
</script>
