<a
  href="/blog"
  title="Guía paso a paso para ser un desarrollador web"
  class="group mt-4 inline-flex items-center gap-1 text-sm font-medium uppercase hover:text-[#f79533] duration-300 tracking-wide"
>
  <span
    aria-hidden="true"
    class="block duration-300 group-hover:me-0.5 rtl:-rotate-180"
  >
    &#11013;
  </span>
  Regresar
</a>
