<a
  href="/"
  title="pagina Blog con Gilberto"
  class="inline-flex items-center gap-1 text-lg font-bold uppercase hover:text-[#f79533] duration-150 tracking-wide font-[Antonio]"
>
  <span
    aria-hidden="true"
    class="block duration-300 group-hover:me-0.5 rtl:-rotate-180"
  >
    &#11013;
  </span>
  Regresar
</a>
