<a
  href="/blog"
  title="pagina Blog con Gilberto"
  class="inline-flex items-center gap-1 text-sm font-medium uppercase hover:text-[#f79533] duration-300 tracking-wide"
>
  <span
    aria-hidden="true"
    class="block duration-300 group-hover:me-0.5 rtl:-rotate-180"
  >
    &#11013;
  </span>
  Regresar
</a>
