---
interface Props {
  name: string;
  src: string;
  alt: string;
}

const { name, src, alt } = Astro.props;
---

<li
  class="w-[20rem] h-[31rem] list-none bg-[#d8c4b6] text-white overflow-hidden relative"
>
  <div class="w-full h-[15rem] p-4">
    <img
      {src}
      {alt}
      class="w-full hover:scale-150 transition-all rounded-3xl"
    />
  </div>
  <div class="text-center bg-[#d8c4b6] absolute z-20 py-4">
    <ul class="flex flex-wrap justify-center py-2 gap-1">
      <li>
        <img
          class="w-8 h-8"
          src="https://api.iconify.design/skill-icons:astro.svg"
          alt="astrojs"
        />
      </li>
      <li>
        <img
          class="w-8 h-8"
          src="https://api.iconify.design/skill-icons:html.svg"
          alt="html"
        />
      </li>

      <li>
        <img
          class="w-8 h-8"
          src="https://api.iconify.design/skill-icons:css.svg"
          alt="css"
        />
      </li>
      <li>
        <img
          class="w-8 h-8"
          src="https://api.iconify.design/skill-icons:javascript.svg"
          alt="javascript"
        />
      </li>
      <li>
        <img
          class="w-8 h-8"
          src="https://api.iconify.design/skill-icons:tailwindcss-light.svg"
          alt="tailwindcss"
        />
      </li>
    </ul>

    <p
      class="text-deg text-xl uppercase font-bold tracking-wider text-[#213555]"
    >
      {name}
    </p>
    <p
      class="bg-white mx-4 mb-6 mt-2 rounded-3xl text-[#213555] p-4 font-light tracking-wide"
    >
      Agencia de diseno y desarrollo web para sitios de alto perfomance.
    </p>
    <a
      href="#"
      class="border border-white tracking-wider text-[#213555] py-2 px-8 hover:bg-white transition-all hover:font-bold uppercase"
    >
      sitio web</a
    >
  </div>
</li>
<style>
  svg {
    width: 2em;
  }

  ul li {
    margin: 0.1rem;
  }
</style>
