---
import GitHub from "../components/GitHub.astro";

interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<li
  class="border-[#f79533] border-t-8 md:border-l-8 md:border-t-0 rounded-xl items-center grid grid-cols-4"
>
  <div class="flex justify-center col-span-1 md:col-span-1">
    <GitHub width="70" height="70" fill="#212121" />
  </div>

  <div class="col-span-3 md:col-span-2 py-4 md:py-0">
    <h3 class="font-bold uppercase text-xl text-left tracking-wide">{name}</h3>
  </div>

  <a
    {href}
    title="Repositorios de GitHub"
    class="text-white uppercase col-span-4 md:col-span-1 text-center"
  >
    <div
      class="bg-[#f79533] p-2 md:p-4 md:px-0 rounded-b-xl md:rounded-r-xl md:rounded-b-none hover:bg-[#212121] duration-300"
    >
      <span class="tracking-widest md:rotate-180 md:[writing-mode:_vertical-lr]"
        >repositorio</span
      >
    </div>
  </a>
</li>

<style>
  li {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
  }
  li:hover {
    box-shadow: 7px 10px 0 var(--gray-dark-color);
  }
</style>
