<!-- fundación la salle de ciencias naturales -->
<section class="bg-[#4f709c] text-white text-right p-4 md:p-8">
  <h2 class="text-7xl font-bold uppercase">
    Fundación La Salle de Ciencias Naturales
  </h2>
  <p class="text-2xl font-light capitalize mb-4">
    mayo <span class="font-bold text-5xl relative">
      <span
        class="absolute -top-2 right-0 capitalize font-medium text-xs bg-[#213555] px-2 py-[0.3px]"
        >ingreso</span
      >
      2016</span
    >
    <br />
    noviembre<span class="font-bold text-4xl relative">
      <span
        class="absolute -top-3 right-0 capitalize font-medium text-xs bg-[#213555] px-2 py-[0.4px]"
        >salida</span
      >
      2017</span
    >
    <br />
    <span class="text-lg font-medium relative">
      <span
        class="absolute -top-4 right-0 capitalize font-medium text-xs bg-[#213555] px-2 py-[0.3px]"
        >duracion</span
      >18 meses</span
    >
    <br />
    <span class="text-xl font-medium relative">
      <span
        class="absolute -top-4 right-0 capitalize font-medium text-xs bg-[#213555] px-2 py-[0.3px]"
        >país</span
      >Venezuela</span
    >
  </p>
  <hr class="border-current" />
  <h2 class="text-5xl font-bold my-4 capitalize">
    habilidades y tecnologías utilizadas.
  </h2>
  <ul class="flex flex-wrap gap-1 capitalize justify-end">
    <li class="bg-[#213555] py-1 px-2">windows</li>
    <li class="bg-[#213555] py-1 px-2">windows server</li>
    <li class="bg-[#213555] py-1 px-2">linux</li>
    <li class="bg-[#213555] py-1 px-2">servidores/linux</li>

    <li class="bg-[#213555] py-1 px-2">bases de datos</li>
    <li class="bg-[#213555] py-1 px-2">Active Directory</li>
    <li class="bg-[#213555] py-1 px-2">administración ERP</li>

    <li class="bg-[#213555] py-1 px-2">redes</li>
    <li class="bg-[#213555] py-1 px-2">soporte técnico nivel 1 y 2</li>

    <li class="bg-[#213555] py-1 px-2">backups</li>
    <li class="bg-[#213555] py-1 px-2">GPO</li>
    <li class="bg-[#213555] py-1 px-2">VPN</li>
    <li class="bg-[#213555] py-1 px-2">VLAN</li>
    <li class="bg-[#213555] py-1 px-2">planes estrategicos</li>
  </ul>
</section>
<section class="bg-[#D8C4B6] text-[#213555] p-4 md:p-8 relative">
  <h2 class="text-5xl uppercase font-medium mb-4">
    Coordinador de Informática
  </h2>

  <p class="parrafos-work mb-8 md:mb-4 text-lg">
    Como Coordinador de Informática de la Fundación de Ciencias Naturales La
    Salle, mi principal responsabilidad era proporcionar apoyo y orientación a
    las redes y sistemas informáticos de la organización. Me aseguro de que
    todos los servidores funcionen correctamente y de manera eficiente,
    minimizando cualquier tiempo de inactividad que pueda obstaculizar la
    productividad de nuestro personal. Además, soy responsable de generar
    informes sobre el rendimiento de nuestros sistemas informáticos, analizando
    los datos para identificar cualquier patrón o tendencia que pueda requerir
    atención. Gracias a mi experiencia en informática, puedo resolver
    eficazmente cualquier problema técnico que surja y aplicar las soluciones
    necesarias. En general, mi papel como coordinador informático es crucial
    para mantener el buen funcionamiento de la infraestructura tecnológica de la
    organización.
  </p>

  <a
    href="https://www.ucab.edu.ve/"
    title="UNIVERSIDAD CATÓLICA ANDRÉS BELLO"
    target="_blank"
    class="absolute bottom-0 right-0 px-3 py-2 border border-[#213555] hover:text-[#D8C4B6] hover:bg-[#213555] transition uppercase"
    >web del instituto</a
  >
</section>
