---
const Year = new Date().getFullYear();
---

<section class="w-[90%] mx-auto text-center py-4">
  <p class="flex flex-wrap md:items-center justify-center gap-1">
    Bella Vista II, San Felix, Bolivar, Venezuela, Todos los derechos reservados<span
      class="uppercase font-bold inline-flex"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        ><g fill="none" stroke="currentColor" stroke-width="1.5"
          ><path
            d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12Z"
          ></path><path
            stroke-linecap="round"
            d="M14 15.667a4.535 4.535 0 0 1-1.714.333C9.919 16 8 14.21 8 12s1.919-4 4.286-4c.61 0 1.189.119 1.714.333"
          ></path></g
        ></svg
      >dev-gilberto</span
    >
    {Year}.
  </p>
</section>
