<!-- HBT, LTDA -->
<section class="bg-[#4f709c] text-white text-right p-4 md:p-8">
  <h2 class="text-6xl font-bold uppercase">hbt, ltda</h2>
  <p class="text-2xl font-light capitalize mb-4 ali">
    marzo <span class="font-bold text-5xl relative">
      <span
        class="absolute -top-2 right-0 capitalize font-medium text-xs bg-[#213555] text-[#f5efe7] px-2 py-[0.3px]"
        >ingreso</span
      >
      2023</span
    >
    <br />
    enero <span class="font-bold text-4xl relative">
      <span
        class="absolute -top-3 right-0 capitalize font-medium text-xs bg-[#213555] text-[#f5efe7] px-2 py-[0.4px]"
        >salida</span
      >
      2024</span
    >
    <br />
    <span class="text-lg font-medium relative">
      <span
        class="absolute -top-4 right-0 capitalize font-medium text-xs bg-[#213555] text-[#f5efe7] px-2 py-[0.3px]"
        >duracion</span
      >11 meses</span
    >
    <br />
    <span class="text-xl font-medium relative">
      <span
        class="absolute -top-4 right-0 capitalize font-medium text-xs bg-[#213555] text-[#f5efe7] px-2 py-[0.3px]"
        >país</span
      >Chile</span
    >
  </p>
  <hr class="border-current" />
  <h2 class="text-5xl font-bold my-4 capitalize">
    habilidades y tecnologías utilizadas.
  </h2>
  <ul class="flex flex-wrap gap-1 capitalize justify-end font-light">
    <li class="bg-[#213555] py-1 px-2">windows</li>
    <li class="bg-[#213555] py-1 px-2">windows server</li>
    <li class="bg-[#213555] py-1 px-2">linux</li>
    <li class="bg-[#213555] py-1 px-2">Microsoft 365</li>
    <li class="bg-[#213555] py-1 px-2">wrike</li>
    <li class="bg-[#213555] py-1 px-2">jira</li>
    <li class="bg-[#213555] py-1 px-2">flexline (ERP)</li>
    <li class="bg-[#213555] py-1 px-2">clickUp</li>
    <li class="bg-[#213555] py-1 px-2">SQL</li>
    <li class="bg-[#213555] py-1 px-2">Active Directory</li>

    <li class="bg-[#213555] py-1 px-2">comercio B2C, B2B</li>
    <li class="bg-[#213555] py-1 px-2">administración web</li>
    <li class="bg-[#213555] py-1 px-2">soporte técnico nivel 1 y 2</li>
    <li class="bg-[#213555] py-1 px-2">HelpDesk</li>
  </ul>
</section>
<section class="bg-[#D8C4B6] p-4 md:p-8 relative mb-8 md:mb-0">
  <h2 class="text-5xl uppercase font-medium mb-4">asistente de ti</h2>
  <p class="mb-8 md:mb-4 parrafos-work text-lg font-light">
    Como asistente informático en la empresa HBT, mi función consistía en
    prestar apoyo y asistencia en diversos aspectos de la infraestructura
    tecnológica de la empresa. Esto incluye la gestión del sitio web,
    garantizando su funcionalidad y realizando las actualizaciones necesarias.
    <br />
    Además, era responsable del mantenimiento del sistema ERP, garantizando su buen
    funcionamiento y solucionando cualquier problema que surja. Además de estas tareas,
    también atiendo las consultas del HelpDesk de los empleados, proporcionando soluciones
    oportunas y eficaces a sus necesidades técnicas.
    <br />
    Conozco bien las integraciones y tengo experiencia trabajando con API para agilizar
    los procesos y mejorar la eficiencia. Además, conozco bien las tecnologías B2B
    y pude ayudar a implantar soluciones que mejoren la comunicación y la colaboración
    con nuestros socios comerciales.
  </p>

  <a
    href="https://www.hbt.cl/"
    title="HBT LTDA"
    target="_blank"
    class="absolute bottom-0 right-0 px-3 py-2 border border-[#213555] hover:text-[#D8C4B6] hover:bg-[#213555] transition uppercase"
    >web de la empresa</a
  >
</section>
