---

---

<section class="flex justify-center w-full">
  <h1
    class="text-6xl md:text-9xl font-bold uppercase text-center bg-[#213555] text-[#f5efe7] inline-block p-8 md:p-16 shake-slow"
  >
    <span class="-rotate-3 inline-block">¡Hola! soy</span>
    <br />
    <span>gilberto</span>
    <br />
    <span class="-rotate-6 inline-block">la rosa!</span>
  </h1>
</section>

<style>
  h1 {
    border-radius: 75% 25% 75% 25% / 34% 75% 25% 66%;
  }
</style>
