---

---

<section class="text-center">
  <section class="bg-[#212121] my-8 md:my-12 inline-block">
    <h1
      class="text-6xl md:text-9xl font-bold uppercase text-center animate-text-deg shake-slow"
    >
      <span class="-rotate-3 animate-text-deg">¡Hola! soy</span>
      <br />
      <span>gilberto</span>
      <br />
      <span class="-rotate-6 animate-text-deg">la rosa!</span>
    </h1>
  </section>
</section>

<style>
  section {
    border-radius: 75% 25% 65% 25% / 34% 75% 25% 66%;
  }
</style>
