<aside>
  <p class="mb-2 font-light">
    <span class="font-semibold"
      >¿Estás buscando mejorar tu página web o tienda en línea?</span
    > Si estás agotado de ver tutoriales en video o pagar por cursos costosos que
    no te enseñan nada, <span class="font-semibold"
      >¡tengo la solución para ti!</span
    > Ofrezco clases virtuales personalizadas tipo mentoría con horarios flexibles.
    No esperes más, contáctame a través de estos medios digitales y te responderé
    tan pronto como sea posible.
  </p>
</aside>
