<nav>
  <div>
    <input id="responsive-menu" type="checkbox" />
    <label for="responsive-menu" class="animate__animated animate__bounceIn">
      <!-- logo -->
      <a href="/" title="Logo Gilberto La Rosa">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><path
            fill="currentcolor"
            fill-rule="evenodd"
            d="M20.05 17.65a3 3 0 0 0 1.2-2.4v-11a3 3 0 0 0-3-3h-12a3 3 0 0 0-3 3v11a3 3 0 0 0 1.2 2.4l6 4.5a3 3 0 0 0 3.6 0z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
      <!-- texto -->
      <span class="animate-text-deg text-4xl uppercase font-bold">[menú]</span>
      <!-- button -->
      <span id="menu-icon"></span>
    </label>
    <!-- menu  -->
    <div id="overlay"></div>
    <ul>
      <li>
        <a class="capitalize" href="/">¡hola!</a>
      </li>
      <li>
        <a href="/proyectos-open-source">proyectos open source</a>
      </li>
      <li>
        <a href="/trabajos-dependientes">trabajos dependientes</a>
      </li>
      <li>
        <a href="/proyectos-freelance">proyectos freelance</a>
      </li>
      <li>
        <a href="/blog">blog</a>
      </li>
    </ul>
    <!-- redes sociales -->
    <!-- LinkedIn -->
    <ul id="social-media">
      <li>
        <a
          href="https://www.linkedin.com/in/gilberto-la-rosa/"
          sr-only="linkedin"
          target="_blank"
          title="linkedin"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              fill-rule="evenodd"
              d="M1 2.838A1.838 1.838 0 0 1 2.838 1H21.16A1.837 1.837 0 0 1 23 2.838V21.16A1.838 1.838 0 0 1 21.161 23H2.838A1.838 1.838 0 0 1 1 21.161zm8.708 6.55h2.979v1.496c.43-.86 1.53-1.634 3.183-1.634c3.169 0 3.92 1.713 3.92 4.856v5.822h-3.207v-5.106c0-1.79-.43-2.8-1.522-2.8c-1.515 0-2.145 1.089-2.145 2.8v5.106H9.708zm-5.5 10.403h3.208V9.25H4.208zM7.875 5.812a2.063 2.063 0 1 1-4.125 0a2.063 2.063 0 0 1 4.125 0"
              clip-rule="evenodd"></path>
          </svg>
          <span class="screen-reader-text">LinkedIn</span>
        </a>
      </li>
      <!-- twitter -->
      <li>
        <a
          href="https://twitter.com/dev_gilberto"
          sr-only="X"
          title="X"
          target="_blank"
        >
          <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/twitter"
            ><path
              fill="currentColor"
              d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
            ></path></svg
          >
          <span class="screen-reader-text">X</span>
        </a>
      </li>
      <!-- github -->
      <li>
        <a
          href="https://github.com/Dev-Gilberto"
          sr-only="github"
          target="_blank"
          title="github"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            ><g fill="none"
              ><g clip-path="url(#akarIconsGithubFill0)"
                ><path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385c.6.105.825-.255.825-.57c0-.285-.015-1.23-.015-2.235c-3.015.555-3.795-.735-4.035-1.41c-.135-.345-.72-1.41-1.23-1.695c-.42-.225-1.02-.78-.015-.795c.945-.015 1.62.87 1.845 1.23c1.08 1.815 2.805 1.305 3.495.99c.105-.78.42-1.305.765-1.605c-2.67-.3-5.46-1.335-5.46-5.925c0-1.305.465-2.385 1.23-3.225c-.12-.3-.54-1.53.12-3.18c0 0 1.005-.315 3.3 1.23c.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23c.66 1.65.24 2.88.12 3.18c.765.84 1.23 1.905 1.23 3.225c0 4.605-2.805 5.625-5.475 5.925c.435.375.81 1.095.81 2.22c0 1.605-.015 2.895-.015 3.3c0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12"
                  clip-rule="evenodd"></path></g
              ><defs
                ><clipPath id="akarIconsGithubFill0"
                  ><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath
                ></defs
              ></g
            ></svg
          >
          <span class="screen-reader-text">Github</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
  .screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
  }

  nav {
    flex:;
    right: 0;
    position: relative;
    top: 0;
    z-index: 9999;
  }

  /*** INPUT ***/
  nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  /*** LABEL ***/
  nav label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font: 2em/1 var(--Font-global);
    padding: 0.5em 0;
  }

  /* Hamburger Icon */
  #menu-icon,
  #menu-icon:before,
  #menu-icon:after {
    background: #213555;
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  #menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
  }

  #menu-icon:before,
  #menu-icon:after {
    content: "";
    left: 0;
    position: absolute;
  }

  #menu-icon:before {
    top: -0.4em;
  }

  #menu-icon:after {
    bottom: -0.4em;
  }

  /* Close Icon */
  nav input[type="checkbox"]:checked + label #menu-icon {
    background: transparent;
  }

  nav input[type="checkbox"]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
  }

  nav input[type="checkbox"]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
  }

  /*** MENU ***/
  /* Overlay */
  nav input:checked ~ #overlay {
    background: var(--navy-color);
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
  }

  /* List */
  nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
  }

  nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
  }
  78 nav ul > li {
    margin: 1em 0;
  }
  @media (min-width: 768px) {
    nav ul > li {
      margin: 0.03em 0;
    }
  }

  nav ul a {
    color: var(--text-color-global) !important;
    text-decoration: none;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.2em;
  }

  @media (min-width: 768px) {
    nav ul a {
      font-size: 3em;
    }
  }

  nav ul a:hover {
    text-decoration: underline;
  }

  /* Social Media */
  nav ul#social-media > li {
    display: inline-block;
    margin: 0.5em;
  }
  svg {
    width: 1.3em;
    height: 1.3em;
    transition: color 0.4s ease-in-out;
  }
  svg:hover {
    color: var(--beige-color);
  }
</style>
