---
import SocialNetwork from "./SocialNetwork.astro";
import { Icon } from "astro-icon/components";
---

<section class="col-span-4 md:col-span-1">
  <section class="bg-[#212121] rounded p-4 text-[#f5efe7]">
    <h2 class="text-3xl font-bold font-[Antonio] mb-4">Un poco sobre mi</h2>
    <section class="relative">
      <img
        src="/AVATAR-GILBERTO.jpg"
        alt="Gilberto La Rosa"
        class="float-left w-24 h-auto mr-4 rounded"
      />
      <p class="text-sm">
        <span class="font-semibold text-base tracking-wider">Hola</span> soy <span
          class="font-semibold text-base tracking-wider">Gilberto La Rosa</span
        >, un joven <span class="font-semibold text-base tracking-wider"
          >Venezolano</span
        > más esparcido por el mundo, actualmente <span
          class="font-semibold text-base tracking-wider">viviendo</span
        > en <span class="font-semibold text-base tracking-wider"
          >Santiago de Chile</span
        >, padre de familia, esposo, <span
          class="font-semibold text-base tracking-wider"
          >Ingeniero de Sistemas</span
        > de profesión y <span class="font-semibold text-base tracking-wider"
          >programador web</span
        > de oficio, aunque en el desarrollo de mi carrera me ha tocado trabajar
        en distintas áreas de sector TI.
      </p>
    </section>
    <section class="my-8">
      <h2 class="text-3xl font-bold font-[Antonio] mb-4">Contacto</h2>
      <SocialNetwork />
    </section>
    <section class="my-4">
      <h2 class="text-3xl font-bold font-[Antonio] mb-4">Portafolio</h2>
      <a
        href="https://codafter.cl/"
        target="_blank"
        title="Sitio de Codafter"
        class="hover:text-[#f79533] hover:underline duration-150 flex flex-wrap"
      >
        <Icon name="travel-explore" size={30} />
        www.codafter.cl</a
      >
    </section>
  </section>
</section>
