---
import { Icon } from "astro-icon/components";
---

<button
  id="btn-share"
  class="inline-flex items-center gap-1 text-lg font-bold uppercase hover:text-[#f79533] duration-150 tracking-wide font-[Antonio]"
>
  <Icon
    name="share"
    class="block duration-150 group-hover:me-0.5 rtl:rotate-180"
  /> Compartir
</button>

<script type="text/javascript">
  const shareButton = document.getElementById("btn-share");

  shareButton.addEventListener("click", (event) => {
    if ("share" in navigator) {
      navigator
        .share({
          title: "Comparte Esta Página, en tu platafoma favorita",

          url: window.location.href,
        })

        .then(() => {
          console.log("Contenido Compartido !");
        })
        .catch(console.error);
    } else {
      alert(
        "Lo siento, este navegador no tiene soporte para recursos compartidos."
      );
    }
  });
</script>
