---
import { Icon } from "astro-icon/components";

const rrss = [
  {
    url: "https://www.linkedin.com/in/gilberto-la-rosa/",
    name: "linkedin",
    icon: "linkedin",
  },
  {
    url: "https://twitter.com/gilbertoxdev",
    name: "x",
    icon: "x",
  },
  {
    url: "mailto:gilberto.larosa@codafter.codes",
    name: "gilberto.larosa@codafter.codes",
    icon: "mail",
  },
  {
    url: "https://github.com/gilbertoxdev",
    name: "github",
    icon: "github",
  },
];
---

<aside>
  <nav>
    <ul class="flex justify-between items-center">
      {
        rrss.map((item) => (
          <li>
            <a
              href={item.url}
              sr-only={item}
              target="_blank"
              title={item.name}
              class="hover:text-[#f79533] transition-all"
            >
              <Icon
                name={item.icon}
                class="hover:text-[#f79533] duration-150"
                size={35}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
