---
import AvatarFirma from "../components/AvatarFirma.astro";
---

<section class="text-center my-8 md:w-3/5 md:mx-auto text-lg md:text-xl">
  <h2 class="text-left text-4xl md:text-8xl font-bold mb-4">
    Un poco sobre mi
  </h2>
  <p class="mb-4 text-left font-light">
    Hola espero que este excelentemente bien, te voy a contar un poco sobre mi,
    soy es un desarrollador web altamente cualificado con amplia experiencia en
    desarrollo y soporte de sistemas. Con pasión por el diseño web y un gran ojo
    para los detalles, Gilberto se ha hecho un nombre en el sector como
    desarrollador de primera categoría. Nacido y criado en una pequeña ciudad,
    Gilberto descubrió su amor por los ordenadores a una edad temprana. Pasó
    incontables horas jugando con el software y aprendiendo por sí mismo varios
    lenguajes de programación. Su empuje y determinación le llevaron a titularse
    en Ingeniería de sistemas, donde perfeccionó sus conocimientos de desarrollo
    web.
  </p>
</section>
<AvatarFirma />
