---
import AvatarFirma from "./AvatarFirma.astro";
---

<section class="text-center my-8 md:w-3/5 md:mx-auto text-lg md:text-xl">
  <h2 class="text-left text-4xl md:text-8xl font-bold mb-4">
    Un poco sobre mi
  </h2>
  <p>
    Gilberto La Rosa es un desarrollador web altamente cualificado con amplia
    experiencia en desarrollo y soporte de sistemas. Con pasión por el diseño
    web y un gran ojo para los detalles, Gilberto se ha hecho un nombre en el
    sector como desarrollador de primera categoría. Nacido y criado en una
    pequeña ciudad, Gilberto descubrió su amor por los ordenadores a una edad
    temprana. Pasó incontables horas jugando con el software y aprendiendo por
    sí mismo varios lenguajes de programación. Su empuje y determinación le
    llevaron a titularse en Ingeniería de sistemas, donde perfeccionó sus
    conocimientos de desarrollo web.
  </p>

  <p>
    Tras finalizar sus estudios, Gilberto comenzó su carrera profesional como
    coordinador de informática en una conocida institución educativa. Allí era
    responsable del diseño y desarrollo de sistemas complejos que daban soporte
    a las operaciones de la institución. Sus excepcionales habilidades para
    resolver problemas y su capacidad para pensar de forma innovadora le
    permitieron crear soluciones innovadoras que agilizaron los procesos y
    mejoraron la eficiencia.
  </p>

  <p>
    A lo largo de los años, Gilberto ha trabajado en numerosos proyectos, desde
    sitios web para pequeñas empresas hasta plataformas de comercio electrónico
    a gran escala. Ha colaborado con equipos multifuncionales, incluidos
    diseñadores, especialistas en marketing y creadores de contenidos, para
    ofrecer experiencias de usuario excepcionales. Su profundo conocimiento de
    los principios del diseño web y su experiencia en lenguajes de programación
    como HTML, CSS y JavaScript le han permitido crear sitios web visualmente
    atractivos y muy funcionales.
  </p>

  <p>
    Además de sus habilidades técnicas, Gilberto también es conocido por su gran
    capacidad de comunicación y colaboración. Tiene un don para comunicar
    eficazmente conceptos técnicos complejos a partes interesadas no técnicas,
    asegurándose de que todo el mundo está en la misma página. Siempre está
    dispuesto a aprender nuevas tecnologías y se mantiene al día de las últimas
    tendencias en desarrollo web.
  </p>

  <p>
    La dedicación de Gilberto La Rosa a su oficio, junto con su destreza técnica
    y su mentalidad creativa, lo convierten en un desarrollador web muy
    solicitado en el sector. Su compromiso con la entrega de trabajo de alta
    calidad y proporcionar un apoyo excepcional a los clientes lo distingue de
    la competencia. Con cada nuevo proyecto, Gilberto sigue superando los
    límites y elevando el listón de la excelencia en el desarrollo web.
  </p>
</section>
<AvatarFirma />
<style>
  p {
    margin-bottom: 1rem;
    text-align: justify;
    font-weight: 300;
  }
</style>
