---
import Link from "@components/Link.astro";
import AvatarFirma from "@components/AvatarFirma.astro";
---

<section class="text-center my-8 md:w-3/5 md:mx-auto text-lg md:text-xl">
  <h2 class="text-left text-4xl md:text-8xl font-bold mb-4">
    Un poco sobre mi
  </h2>

  <section class="mb-4 text-left font-light tracking-wide">
    <span class="flex items-center">
      <span class="h-px flex-1 bg-black"></span>
      <h3 class="shrink-0 px-6 text-3xl md:text-5xl font-bold capitalize">
        inicios
      </h3>
      <span class="h-px flex-1 bg-black"></span>
    </span>
    <p>
      Como ingeniero de sistemas y desarrollador web, mi experiencia ha estado
      marcada por el mundo de la tecnología, en constante evolución. Desde el
      desarrollo de software hasta la programación y las bases de datos, he
      tenido la oportunidad de trabajar en una amplia gama de proyectos que han
      mejorado mis habilidades y conocimientos en estas áreas. Uno de los
      aspectos más apasionantes de mi trabajo es el aprendizaje y la adaptación
      constantes que se requieren para estar al día de los últimos avances
      tecnológicos. Este campo evoluciona constantemente y, como profesional, es
      crucial mantenerse a la vanguardia ampliando continuamente mis
      conocimientos y explorando nuevas tecnologías.
    </p>
    <span class="flex items-center">
      <span class="h-px flex-1 bg-black"></span>
      <h3 class="shrink-0 px-6 text-3xl md:text-5xl font-bold capitalize">
        laborando
      </h3>
      <span class="h-px flex-1 bg-black"></span>
    </span>
    <p>
      En mi puesto de ingeniero de sistemas, he sido responsable del diseño y la
      implantación de complejos sistemas de software que responden a necesidades
      empresariales específicas. Esto implica analizar requisitos, desarrollar
      soluciones y garantizar la integración sin problemas de diversas
      tecnologías. La capacidad de pensamiento crítico y de resolución de
      problemas es esencial en esta función, ya que a menudo implica la
      resolución de problemas y la búsqueda de soluciones innovadoras a los
      desafíos técnicos. Además, mi experiencia como desarrollador web me ha
      permitido crear sitios web fáciles de usar y visualmente atractivos que
      comunican información de forma eficaz y atraen a los usuarios. Al trabajar
      con lenguajes de programación como <Link
        href="https://es.wikipedia.org/wiki/HTML"
        title="HTML"
        name="HTML"
      />, <Link
        href="https://es.wikipedia.org/wiki/CSS"
        title="CSS"
        name="CSS"
      />,
      <Link
        href="https://es.wikipedia.org/wiki/JavaScript"
        title="JavaScript"
        name="JavaScript"
      /> y <Link
        href="https://es.wikipedia.org/wiki/PHP"
        title="PHP"
        name="PHP"
      /> soy capaz de dar vida a los diseños y optimizar los sitios web en cuanto
      a rendimiento y funcionalidad.
    </p>
    <span class="flex items-center">
      <span class="h-px flex-1 bg-black"></span>
      <h3 class="shrink-0 px-6 text-3xl md:text-5xl font-bold capitalize">
        experiencia
      </h3>
      <span class="h-px flex-1 bg-black"></span>
    </span>
    <p>
      Otro aspecto importante de mi experiencia es el trabajo con bases de
      datos. Desde el diseño y la implementación de estructuras de bases de
      datos hasta la gestión de datos y la optimización del rendimiento de las
      consultas, he adquirido valiosos conocimientos en este ámbito. Las bases
      de datos desempeñan un papel crucial en el almacenamiento y la
      organización de datos para aplicaciones informáticas, y mi experiencia en
      este campo me ha permitido garantizar la integridad y la accesibilidad de
      los datos para diversos proyectos. En general, mi experiencia como
      ingeniero de sistemas y desarrollador web me ha proporcionado un amplio
      conocimiento de la tecnología y sus aplicaciones, lo que me permite
      contribuir eficazmente a proyectos en estos ámbitos.
    </p>
  </section>
</section>
<AvatarFirma />
