<!-- universidad catolica andres bello -->
<section class="bg-[#D8C4B6] text-[#213555] text-right p-4 md:p-8">
  <h2 class="text-6xl font-bold uppercase">
    Universidad Católica Andrés Bello
  </h2>
  <p class="text-2xl font-light capitalize mb-4">
    noviembre <span class="font-bold text-5xl relative">
      <span
        class="absolute -top-2 right-0 capitalize font-medium text-xs bg-white px-2 py-[0.3px]"
        >ingreso</span
      >
      2017</span
    >
    <br />
    septiembre<span class="font-bold text-4xl relative">
      <span
        class="absolute -top-3 right-0 capitalize font-medium text-xs bg-white px-2 py-[0.4px]"
        >salida</span
      >
      2018</span
    >
    <br />
    <span class="text-lg font-medium relative">
      <span
        class="absolute -top-4 right-0 capitalize font-medium text-xs bg-white px-2 py-[0.3px]"
        >duracion</span
      >11 meses</span
    >
    <br />
    <span class="text-xl font-medium relative">
      <span
        class="absolute -top-4 right-0 capitalize font-medium text-xs bg-white px-2 py-[0.3px]"
        >país</span
      >Venezuela</span
    >
  </p>
  <hr class="border-current" />
  <h2 class="text-5xl font-bold my-4 capitalize">
    habilidades y tecnologías utilizadas.
  </h2>
  <ul class="flex flex-wrap gap-1 capitalize justify-end">
    <li class="bg-white py-1 px-2">windows</li>
    <li class="bg-white py-1 px-2">windows server</li>
    <li class="bg-white py-1 px-2">linux</li>
    <li class="bg-white py-1 px-2">servidores/linux</li>
    <li class="bg-white py-1 px-2">HTML</li>
    <li class="bg-white py-1 px-2">CSS</li>
    <li class="bg-white py-1 px-2">javaScript</li>
    <li class="bg-white py-1 px-2">SQL</li>
    <li class="bg-white py-1 px-2">node.js</li>
    <li class="bg-white py-1 px-2">bases de datos</li>
    <li class="bg-white py-1 px-2">Active Directory</li>
    <li class="bg-white py-1 px-2">administración web</li>
    <li class="bg-white py-1 px-2">desarollo web</li>
    <li class="bg-white py-1 px-2">redes</li>
    <li class="bg-white py-1 px-2">soporte técnico nivel 1 y 2</li>
    <li class="bg-white py-1 px-2">Intranet</li>
    <li class="bg-white py-1 px-2">AxTraxNG</li>
    <li class="bg-white py-1 px-2">HelpDesk</li>
  </ul>
</section>
<section class="bg-[#213555] text-white p-4 md:p-8 relative mb-8 md:mb-0">
  <h2 class="text-5xl uppercase font-medium mb-4">
    Analista de Tecnologia y Soporte Técnico
  </h2>
  <p class="parrafos-work text-lg">
    Como analista de tecnología y soporte técnico de la Universidad Católica
    Andrés Bello, mi principal responsabilidad fue garantizar el buen
    funcionamiento del sitio web de la universidad y sus sistemas asociados.
    Esto implica no sólo el desarrollo y mantenimiento del sitio web, sino
    también la gestión de datos y servidores.
  </p>
  <p class="parrafos-work text-lg">
    En cuanto al desarrollo del sitio web, trabajo en estrecha colaboración con
    el equipo informático de la universidad para crear una plataforma fácil de
    usar y visualmente atractiva. Esto incluye el diseño y la implementación de
    diversas funciones, como formularios de inscripción en línea, portales de
    estudiantes y directorios de profesores. Además, colaboro con otros
    departamentos para reunir requisitos y garantizar que el sitio web satisfaga
    las necesidades tanto de los estudiantes como del personal.
  </p>

  <p class="parrafos-work mb-8 md:mb-4 text-lg">
    En resumen, como analista de tecnología y soporte técnico de la Universidad
    Católica Andrés Bello, desempeño un papel crucial en el desarrollo de sitios
    web, la gestión de datos y el mantenimiento de servidores. Al asegurar el
    funcionamiento eficiente de estos sistemas, contribuyo al éxito general de
    la infraestructura tecnológica de la universidad.
  </p>

  <a
    href="https://www.ucab.edu.ve/"
    title="UNIVERSIDAD CATÓLICA ANDRÉS BELLO"
    target="_blank"
    class="absolute bottom-0 right-0 px-3 py-2 border border-white hover:text-[#213555] hover:bg-white transition uppercase"
    >web de la universidad</a
  >
</section>
