---
import "@styles/Global.css";
import FooterLayout from "@components/FooterLayout.astro";
import { Icon } from "astro-icon/components";
import NavBar from "@components/NavBar.astro";
import BtnTop from "@components/BtnTop.astro";
import Seo from "@components/Seo.astro";
import { ViewTransitions } from "astro:transitions";
import { slide } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Seo />

    <title>{title}</title>

    <ViewTransitions />
  </head>

  <body>
    <section class="relative overflow-hidden">
      <Icon
        name="cpu"
        class="absolute -top-40 -right-40 text-[#212121] opacity-5"
        size={600}
      />
      <main transition:animate={slide({ duration: "0.6s" })}>
        <slot />
      </main>

      <FooterLayout />

      <BtnTop />
    </section>
  </body>
</html>
