---
import "../styles/Global.css";
import FooterLayout from "../components/FooterLayout.astro";
import NavBar from "../components/NavBar.astro";
import { ViewTransitions } from "astro:transitions";
import { slide } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Gilberto La Rosa, Developer Web, sitio web biografico de su trayectoria profesional"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/AkarIconsPointerDownFill.svg"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.7.0/csshake.min.css"
      integrity="sha512-Kd+SEhBK155eAi26GMJymGkvztAnpEGA/PsJc9OKxRwkhJGblvtVv5Fv1R8zYvPq7dbsy+3o4QJco6hzBdxVjg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header class="w-[90%] mx-auto">
      <NavBar />
    </header>
    <main transition:animate={slide({ duration: "0.6s" })}>
      <slot />
    </main>
    <footer>
      <FooterLayout />
    </footer>
  </body>
</html>
